html{
    background-color: rgb(142, 188, 196);
}

body{
    font-family: sans-serif;
    display: flex;
    gap: 20px;
}
.test{
    border: 5px solid black;
    padding: 0px 20px 20px 20px;
    width: 600px;
    margin: 20px 20px;
    border-radius: 20px;
    background-color: rgb(14, 165, 107);
}
h1{
    text-align: center;
    text-shadow: 2px 2px 3px black;
    letter-spacing: 2px;
    word-spacing: 5px;
    color: rgb(213, 225, 228);
}
img{
    display: block;
    max-width: 50%;
    margin: 0 auto;
}
p,li{
    color: white;
}
.bold{
    font-weight: bold;
    font-size: 15px;
    color: black;
}
a{
    color: rgb(204, 224, 224);
}
